body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  margin: 0px !important;
}

div.title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  color: White;
  background-color: MidnightBlue;

}

p.intro {
  font-size: 100%;
  font-weight: bold;
  margin: 12px 8px 12px 8px;

}

div.header {
  text-transform: uppercase;
  font-size: 135%;
  text-align: center;
  color: White;
  background-color: orange;
  padding: 8px;      

}

div.instruction {
  padding: 8px 8px 12px 8px;
  color: #000;
  background-color: #eee;
}

div.footer {
  font-weight: bold;
  background-color: MidnightBlue;
  color: #fff;
  padding: 8px;
  font-size: 130%;
  text-align: center;
  margin-top: 12px;
}

div.footer a {color: orange;}

div.message {
  padding: 8px 8px 12px 8px;
  font-size: 150%;
  color: #000;
  background-color: #eee;
}
